$body-color: blue;

body {
  color: $body-color;
  width:100%;
  //font-family: 'Quicksand', sans-serif;
  font-family: 'Abel', sans-serif;

}

svg{
  width:100%;
  //height:1000px;
}

#wrapper, body{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

#toolbar{
  width:100%;
  height: 150px;
  background-color: gainsboro;
  top:0;
  margin-bottom: 5px;
}

.paths rect.path-rect{
  fill: white;
  width:100%;
  height: 25px;
}

.paths.hover rect.path-rect{
  fill:gainsboro;
  opacity:0.4;
}

.paths rect.attribute-rect{
  fill: none;
  stroke: gray;
  stroke-width: 0.5;
  width:1000px;
  height: 35px;
}

.paths rect.attribute-inner-bar{
  fill: none;
  stroke: gray;
  stroke-width: 0.5;
  width:20px;
  height: 35px;
}

.paths line{
  stroke: #95ABB5;
  stroke-width: 1;
  stroke-opacity: 0.7;
}

.paths circle{
  fill: #95ABB5;
 // opacity: 0.8;
}

.range-rect{
  width:20px;
  fill:#32C1FE;
  opacity:0.4;
}

.inner-line{
  stroke: black;
  stroke-width: 1px;
  fill: none;
}