$body-color: blue;

body {
  color: $body-color;
  width:100%;
  //font-family: 'Quicksand', sans-serif;
  font-family: 'Abel', sans-serif;

}

svg{
  width:100%;
  //height:1000px;
}

#wrapper, body{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

#toolbar{
  width:100%;
  height: 150px;
  background-color: gainsboro;
  top:0;
  margin-bottom: 5px;
  position: fixed;
  //border-color: gray;
  border: 1px solid gray;
}

#main{
  margin-top: 150px;

}

#sidebar{
  width: 350px;
  height: 100%;
  position: fixed;
  top:150px;
  right:0px;
  background-color: gainsboro;
}

#tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 40px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#selected{
  position: fixed;
  //padding:2em;
  top:200px;
  left:10px;
  right:300px;
 
}

.paths rect.path-rect{
  //fill: white;
  fill: gainsboro;
  //stroke-width: .8px;
 // stroke: gray;
  width:1250px;
  height: 32px;
}

.paths.hover rect.path-rect{
  fill:#4c575c;
  opacity:0.6;
  width:100%;
}

rect.attribute-rect{
//.paths rect.attribute-rect{
  fill: none;
  stroke: gray;
  stroke-width: 0.5;
  width:1010px;
}

rect.attribute-rect-sum,
.observed-discrete rect{
  //.paths rect.attribute-rect{
    fill: none;
    stroke: gray;
    stroke-width: 0.5;
    //width:800px;
  }

  rect.graph-bars{
    stroke:none;
    opacity:.5;
  }
  .selected-path rect.path-rect{
   fill: red;
  }

.attribute-label{
  font-size: 11px;
  text-anchor: end;
  color:gray;
}

.paths rect.attribute-inner-bar{
  fill: #fff;
  stroke: gray;
  stroke-width: 0.5;
  //opacity: 0.6;
  width:20px;
}

.paths line{
  stroke: #4c575c;
  stroke-width: 1;
  stroke-opacity: 0.7;
}

.paths.hover line{
  stroke: #b7ed7e;
  stroke-width: 1;
  stroke-opacity: 1.0;
}

line.half{
  stroke: #4c575c;
  stroke-width: 0.4;
  stroke-opacity: 0.7;
}

.paths circle{
  fill: #4c575c;
 // opacity: 0.8;
}

.paths.hover circle{
  fill: #b7ed7e;
 // opacity: 0.8;
}

.range-rect{
  width:20px;
  fill:#32C1FE;
  opacity:0.4;
}

.inner-line{
  stroke: #32C1FE;
  stroke-width: 2px;
  fill: none;
}

.inner-line-sum{
  stroke: #32C1FE;
  stroke-width: 1px;
  fill: none;
  opacity:0.1;
}
.inner-line-sum-discrete{
  stroke: #32C1FE;
  stroke-width: 2px;
  fill: none;
}

.state-area-sum{
  opacity: .1;
}

.inner-node-wrap{
  stroke: gray;
  stroke-width: 1px;
  fill: none;
}

.range-rect-sum{
  fill: #32C1FE;
  opacity: 0.05;
}

circle.hover-branch{
  fill:#FE9D0B;
}

.toggle-svg{
 // width:100%;
 width: 400px;
  height: 50px;
  position: absolute;
  bottom: 2px;
  right: 10px;
  align-content: center;
}

.toggle.shown {
  r: 8;
  //fill: red;
}

.toggle {
  r: 8;
  fill: white;
  stroke: #4c575c;
  stroke-width: 2px;
  cursor: pointer;
}

.node circle {
  fill: gray;

}

.node.hover circle {
  //fill: #fff;
  fill: red;
  r: 4px;
  stroke-width: 1px;
  stroke: gainsboro;
}

//.node text { font: 12px sans-serif; }

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
.link.hover {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}