$body-color: blue;

body {
  color: $body-color;
  width:100%;
  //font-family: 'Quicksand', sans-serif;
  font-family: 'Abel', sans-serif;

}

svg{
  width:100%;
  //height:1000px;
}

#wrapper, body{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

#toolbar{
  width:100%;
  height: 150px;
  background-color: gainsboro;
  top:0;
  margin-bottom: 5px;
}

.paths rect.path-rect{
  //fill: white;
  fill: gainsboro;
  //stroke-width: .8px;
 // stroke: gray;
  width:100%;
  height: 32px;
}

.paths.hover rect.path-rect{
  fill:#4c575c;
  opacity:0.6;
  width:100%;
}

.paths rect.attribute-rect{
  fill: none;
  stroke: gray;
  stroke-width: 0.5;
  width:1010px;
}

.attribute-label{
  font-size: 11px;
  text-anchor: end;
  color:gray;
}

.paths rect.attribute-inner-bar{
  fill: #fff;
  stroke: gray;
  stroke-width: 0.5;
  //opacity: 0.6;
  width:20px;
 
}

.paths line{
  stroke: #4c575c;
  stroke-width: 1;
  stroke-opacity: 0.7;
}

.paths.hover line{
  stroke: #b7ed7e;
  stroke-width: 1;
  stroke-opacity: 1.0;
}

.paths circle{
  fill: #4c575c;
 // opacity: 0.8;
}

.paths.hover circle{
  fill: #b7ed7e;
 // opacity: 0.8;
}

.range-rect{
  width:20px;
  fill:#32C1FE;
  opacity:0.4;
}

.inner-line{
  stroke: #32C1FE;
  stroke-width: 2px;
  fill: none;
}

circle.hover-branch{
  fill:#FE9D0B;
}