//$body-color: blue;

body {
  width:100%;
  font-family: 'Abel', sans-serif;
}

h5, h6{
  display:inline;
}

button{
  margin:5px;
}

form button, form input{
  margin-left:0;
}

svg{
  width:100%;
  //height:1000px;
}

#compare-wrap div.compare-header{
  height:70px;
  background-color: #DCD4D4;
  margin:0;
  padding-left:50px;
  padding-top:10px;
}

#wrapper, body{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

#toolbar{
  width:100%;
  height: 50px;
  background-color: gainsboro;
  top:0;
  position: fixed;
  border: 1px solid gray;
}
#pair-rank{
  width:100%;
  height: 80px;
  background-color: gainsboro;
  top:50px;
  position: fixed;
  border: 1px solid gray;
}

#branch-tooltip, #state-tooltip{
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
 // pointer-events: none;
}

#branch-tooltip.hidden, #state-tooltip.hidden {
  display: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 12px;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd}
.dropdown-content.show {display:block;}

#main{
  margin-top: 60px;
}

#sidebar{
  width: 350px;
  height: 100%;
  position: fixed;
  top:50px;
  right:0px;
  background-color: gainsboro;
  border-left: 1px solid gray;
}

#tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 40px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#filter-tab{
  position: fixed;
  top:50px;
  left:0px;
  right:300px;
  height:200px;
  background-color:gainsboro;
  border-bottom: 1px solid gray;
  padding-top:10px;
}
#filter-toolbar{
  width:100%;

  top:50px;
  position:fixed;
}

#filter-tab.hidden, #pair-rank.hidden{
  height:0;
  opacity:0;
}

#selected{
  position: fixed;
  padding-top:5px;
  top:50px;
  left:0px;
  right:300px;
  background-color:#fff;
  border-bottom: 1px solid gray;
}
#selected svg .path-rect{
  width:100%;
  fill: #FFE082;
}

.link {
  fill: none;
  stroke: gray;
  stroke-width: 2px;
}

.attr-toggle-svg{
  width: inherit;
  height:180px;
}

.attr-radio{
  padding:3px;
}

.branch-points.selected circle{
  fill: orange;
  opacity: 0.5;
}

.comparison-svg{
  width:100%;
}

.filter-wrap{
  display:inline-block;
  float:left;
  padding:5px;
}

.selector{
  width:150px;
  display: inline-block;
}
.select-wrapper{
  widows: 350px;
  display: inline-block;
}

.form-inline{
  width:200px;
  display: inline;
}

.select-paths rect.select-path-rect,
.paths rect.path-rect{
  fill: gainsboro;
  width:1250px;
  height: 32px;
}

.paths.high rect.path-rect{
  fill: #FE6666;
  width:1250px;
  height: 32px;
}

g.selected circle, circle.selected{
  fill:orange !important;
  opacity:1.0;

}

.paths.low rect.path-rect{
  fill: #66CCFE;
  width:1250px;
  height: 32px;
}

.paths.hover rect.path-rect{
  fill:#4c575c;
  opacity:0.6;
  width:100%;
}

.point-dis-rect{
  width:100%;
  padding: 0;

}

.first-group{
  display:block;
  padding-top:10px;
  border: #FE6666;
  height:auto;
  width:100%;
}

rect.attribute-rect{
  fill: none;
  stroke: gray;
  stroke-width: 0.5;
  width:1010px;
}

rect.attribute-rect-sum,
.observed-discrete rect{
    fill: none;
    stroke: gray;
    stroke-width: 0.5;
  }

  rect.graph-bars{
    stroke:none;
    opacity:.5;
  }
  .selected-path rect.path-rect{
   fill: red;
  }

.attribute-label{
  font-size: 11px;
  text-anchor: end;
  color:gray;
}

.select-paths rect.attribute-inner-bar,
.paths rect.attribute-inner-bar{
  fill: #fff;
  stroke: gray;
  stroke-width: 0.5;
  //width:20px;
}

.attribute-inner-bar{
  fill:none;
  stroke: gray;
  stroke-width: 0.5;
}

g.range rect{
  fill: #fff;
  stroke: gray;
  stroke-width: 0.5;
}

.paths line{
  stroke: #4c575c;
  stroke-width: 1;
  stroke-opacity: 0.7;
}

.paths.hover line{
  stroke: #b7ed7e;
  stroke-width: 1;
  stroke-opacity: 1.0;
}

line.half{
  stroke: #4c575c;
  stroke-width: 0.4;
  stroke-opacity: 0.7;
}

.paths .node circle{
  fill: #4c575c;
  stroke: gainsboro;
  stroke-width: 2;
 // opacity: 0.8;
}

#selected .paths .node circle{
  fill: #7F7390;
  stroke: #7F7390;
  stroke-width: 2;
 // opacity: 0.8;
}
#selected .paths .node.common-node circle{
  fill: #CFCBD5;
  stroke: #7F7390;
  stroke-width: 2;
 // opacity: 0.8;
}
#selected .paths .node.common-node .child circle{
  fill: #7F7390;
  stroke: #7F7390;
  stroke-width: 2;
 // opacity: 0.8;
}
#selected .paths .node.common-node .child path{
  stroke: #7F7390;
  stroke-width: 2;
}
#selected .paths path, #selected .paths line{
  stroke: #CFCBD5;
  stroke-width: 2;
 // opacity: 0.8;
}

.paths.hover circle{
  fill: #b7ed7e;
  stroke: gray;
  stroke-width: 2;
 // opacity: 0.8;
}

.range-rect{
  // width:20px;
  fill:#32C1FE;
  //opacity:0.4;
}

.inner-line{
  stroke: #32C1FE;
  stroke-width: 2px;
  fill: none;
  z-index: -100;
}

.inner-line-sum{
  stroke: #32C1FE;
  stroke-width: 1px;
  fill: none;
  opacity:0.1;
}
.inner-line-sum-discrete{
  stroke: #32C1FE;
  stroke-width: 2px;
  fill: none;
}

.species-count{
  width:1000px;
  text-align: center;
  padding-top:20px;
  height:70px;
}

.state-area-sum{
  opacity: .1;
}

.selected-branch circle{
  r: 4px !important;
  fill:red !important;
}

.brushed-branch.one circle{
  r: 4px !important;
  fill:#0D47A1 !important;
  stroke-width: 1px;
  stroke: gainsboro;
}

.brushed-second.one circle{
  r: 4px !important;
  fill:#64B5F6 !important;
  stroke-width: 1px;
  stroke: gainsboro;
}

path.link.brushed-second.one {
  fill: none;
  stroke: #64B5F6 !important;
  opacity: 0.8 !important;
  stroke-width: 2px;
}

.brushed-second.two circle{
  r: 4px !important;
  fill:#6A1B9A !important;
}
path.link.brushed-second.two {
  fill: none;
  stroke: #A08DB8 !important;
  opacity: 0.8 !important;
  stroke-width: 2px;
}
.brushed-branch.two circle{
  r: 4px !important;
  fill:#6A1B9A !important;
  stroke-width: 1px;
  stroke: gainsboro;
}
// .anti-brushed-branch.two circle{
//   r: 4px !important;
//   fill:#F9A825 !important;
//   stroke-width: 1px;
//   stroke: gainsboro;
// }
.node.anti-brushed-second.two circle{
  fill: #FDD835 !important;
  opacity: 1 !important;
  r: 4px;
  stroke-width: 1px;
  stroke: gainsboro;
}
path.link.anti-brushed-second.two {
  fill: none;
  stroke: #FDD835 !important;
  opacity: 0.8 !important;
  stroke-width: 2px;
}

.inner-node-wrap{
  stroke: gray;
  stroke-width: 1px;
  fill: none;
}

.range-rect-sum{
  fill: #32C1FE;
  opacity: 0.05;
}

g.node.hover-branch circle{
  fill:#FE9D0B;
}
g.node.high circle{
  fill: #FE6666 !important;
  r:4px;
}

g.node.low circle{
  fill: #1D77A4 !important;
  r:4px;
}

#sidebar g.node.selected circle{
  fill: #FE9D0B !important;
  r:10px;
  opacity: 1.0;
}

.toggle.shown {
  r: 7;
  //fill: red;
}

.toggle {
  r: 8;
  fill: white;
  stroke: #4c575c;
  stroke-width: 2px;
  cursor: pointer;
}

.node.hover.clade circle {
  //fill: #fff;
  fill: #FF5733 !important;
  opacity: 1 !important;
  //r: 4.5px;
  stroke-width: 1px;
  stroke: gainsboro;
}

.node.hover.one circle {
  //fill: #fff;
  fill: #0D47A1 !important;
  opacity: 1 !important;
  r: 4px;
  stroke-width: 1px;
  stroke: gainsboro;
}

.node.anti-brushed-second.one circle{
  fill: #FFB74D !important;
  opacity: 1 !important;
  r: 4px;
  stroke-width: 1px;
  stroke: gainsboro;
}

path.link.anti-brushed-second.one {
  fill: none;
  stroke: #FFB74D !important;
  opacity: 0.8 !important;
  stroke-width: 2px;
}

.node.anti-brushed.one circle{
  fill: #F4511E  !important;
  opacity: 1 !important;
  r: 4px;
  stroke-width: 1px;
  stroke: gainsboro;
}

// .node.anti-brushed.two circle{
//   fill: #F4511E  !important;
//   opacity: 1 !important;
//   r: 4px;
//   stroke-width: 1px;
//   stroke: gainsboro;
// }

.node.hover.two circle {
  //fill: #fff;
  fill: #129BF5 !important;
  opacity: 1 !important;
  r: 4px;
  stroke-width: 1px;
  stroke: gainsboro;
}

.node.hover-neighbor circle {
  //fill: #fff;
  fill: #A08DB8;
  opacity: .7 !important;
  r: 4px;
  stroke-width: 1px;
  stroke: gainsboro;
}

.node.hover-not circle {
  r: 4px;
  stroke-width: .25px;
  stroke: gainsboro;
  opacity: 0.2;
}

//.node text { font: 12px sans-serif; }

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}



.link-not-there{
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
  opacity:.5 !important;
}
.node-not-there{
  fill:#ccc;
  opacity:.3;
}

.link.hover.one {
  fill: none;
  stroke: #FF5733 !important;
  opacity: 0.8 !important;
  stroke-width: 2px;
}
.link.hover.clade {
  fill: none;
  stroke: #FF5733 !important;
  opacity: 0.8 !important;
  stroke-width: 2px;
}
.link.hover.two {
  fill: none;
  stroke: #129BF5;
  opacity: 1 !important;
  stroke-width: 2px;
}
.link.hover-neighbor {
  fill: none;
  stroke: #A08DB8;
  opacity: .7 !important;
  stroke-width: 2px;
}
.link.hover-not {
  fill: none;
  stroke-width: 0.2px;
  opacity:0.2;
}

////CHECKBOX STYLING/////
/* Hide the default checkbox */
.custom-sq input[type=checkbox] {
  display: none;
}

/* Draw our custom check box */
.custom-sq {
  font-size: 16px;
  line-height: 20px;
}
.custom-sq label {
  cursor: pointer;
}
.custom-sq label:before {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  content: "\00a0";
  text-align: center;
  background: #eee;
}
.custom-sq label:hover::before{
  background: #aaa;
}

/* On check */
.custom-sq input:checked ~ label:before {
  content: "\2605";
 // background: #3f6cb5;
  color: #fff;
}

.wrapper-rect{
  fill: none;
  stroke: #4c575c;
  stroke-width: 0.4;
  stroke-opacity: 0.7;
}

.selected-toolbar{
  display:block;
  height: 30px;
  width:100%;
  margin-left:10px;
  z-index: 3000;
}

path.inner-line.selected{
  stroke-width:2px !important;
  stroke:red !important;
}

.x-icon{
  padding:3px;
  color:gray;
  height:25px;
  width:25px;
  display:inline-block;
  float:left;
}
.search-bar-div{
width:200;
display:inline-block;
}