$body-color: blue;

body {
  color: $body-color;
  width:100%;
}

svg{
  width:100%;
  //height:1000px;
}

#wrapper, body{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

#toolbar{
  width:100%;
  height: 150px;
  background-color: gainsboro;
  top:0;
  margin-bottom: 5px;
}

.paths rect.path-rect{
  fill: white;
  width:100%;
  height: 22px;
}

.paths.hover rect.path-rect{
  fill:gainsboro;
  opacity:0.4;
}

.paths rect.attribute-rect{
  fill: none;
  stroke: gray;
  stroke-width: 0.5;
  width:100%;
  height: 35px;
}

.paths rect.attribute-inner-bar{
  fill: none;
  stroke: gray;
  stroke-width: 0.5;
  width:20px;
  height: 35px;
}

.paths line{
  stroke: gray;
  stroke-width: 0.5;
  stroke-opacity: 0.7;
}

.paths circle{
  fill: grey;
  opacity: 0.8;
}